$aquablue: #44bcd8;
$white: #ffffff;
$black: #000000;
$shadeofgray: #626d70;
$yellow: #fba608;

html {
	height: 100%;
	width: 100%;
	background-color: $aquablue;
}

body {
	@extend html;
	padding-bottom: 130px;
}

.navbar {
	background-color: $black;
	padding: 1% 0;
	font-size: 1.2em;
}

.navbar-brand {
	padding: 15px 15px 15px 15px;
	color: $white;
}

.navbar-default .navbar-nav li a {
	color: $white;
	margin: 5px;
}

.navbar-default .navbar-nav li a:hover {
	color: $black;
	background-color: $white;
}

.main {
	background-color: $shadeofgray;
}

#home {
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
	img {
		padding: 7% 0 2% 0;
		border-radius: 100%;
	}
	.btn {
		margin: 20px 0 30px 0;
	}
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	h1 {
		font-size: 400%;
		font-weight: 700;
	}
}

#about {
	padding: 2% 10% 10% 10%;
}

.abouth {
	text-align: center;
	font-size: 500%;
	font-weight: 500;
	padding-bottom: 5%;
	color: $white;
	border: solid;
	padding: 20px;
	margin-bottom: 50px;
}

#about ul li {
	font-size: 150%;
}

#contact {
	margin: 10% 10% 10% 10%;
}

#about table {
	border: 3px solid $white;
	font-size: 150%;
	width: 60%;
	td,
	th {
		border: 3px solid $white;
		text-align: left;
		width: 80%;
		height: 5%;
		padding: 1% 0 1% 1%;
	}
}

footer {
	width: 100%;
	background-color: $black;
	padding: 1% 5% 1% 5%;
	color: $white;
}

.fa {
	padding: 15px;
	font-size: 25px;
	color: $white;
}

.fa:hover {
	color: $yellow;
	text-decoration: none;
}

@media (max-width: 768px) {
	.landing-text h1 {
		font-size: 300%;
	}
	.fa {
		font-size: 20px;
		padding: 10px;
	}
	#home {
		img {
			padding-top: 15%;
		}
	}
}
