$aquablue: #44bcd8;
$white: #ffffff;
$black: #000000;
$shadeofgray: #626d70;
$yellow: #fba608;

html,
body {
	height: 100%;
	width: 100%;
	background-color: $aquablue;
}

.navbar {
	background-color: $black;
	padding: 1% 0;
	font-size: 1.2em;
}

.navbar-brand {
	padding: 15px 15px 15px 15px;
	color: $white;
}

.navbar-default .navbar-nav li a {
	color: $white;
	margin: 5px;
}

.navbar-default .navbar-nav li a:hover {
	color: $black;
	background-color: $white;
}

.main {
	background-color: $shadeofgray;
}

#home {
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
	img {
		padding: 7% 0 2% 0;
	}
	.btn {
		margin: 20px 0 30px 0;
	}
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	h1 {
		font-size: 400%;
		font-weight: 700;
	}
}

footer {
	width: 100%;
	background-color: $black;
	padding: 1% 5% 1% 5%;
	color: $white;
}

.fa {
	padding: 15px;
	font-size: 25px;
	color: $white;
}

.fa:hover {
	color: $yellow;
	text-decoration: none;
}

//todo inheritance of sass
